*.db
*.vsidx
/.vs/codeMastery2.0/v17
*.sqlite
*.config
*.v2
/codemastery-be/codemastery-be/.vs/codemastery-be/v17
*.bin
*.dll
*.cache
*.json
*.pdb
*.Up2Date
*.editorconfig
*.svg
*.props
*.targets
codemastery-be/codemastery-be/codemastery-be.AppHost/obj/Debug/net9.0/codemastery-be.AppHost.csproj.FileListAbsolute.txt
codemastery-be/codemastery-be/codemastery-be.ServiceDefaults/obj/Debug/net9.0/codemastery-be.ServiceDefaults.csproj.FileListAbsolute.txt
